@model IEnumerable<MvcUniversity.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //item bien un student
            <tr>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    <!--Pour avoir le bon format d'affichage-->
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <!--/@item.Id retourne bien l'id de l'étudiant qu'on traite grâce au foreach-->|
            </td>
            </tr>
        }
    </tbody>
</table>
